:root {
    --color-login: #ededed;
    --color-background: #CACDDE;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
   height: 100%;
}

body {
    display: flex;
    height: 100%;
    justify-content: space-between;
}