:root {
    --color-login: #ededed;
    --color-background: #CACDDE;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}