.simpleblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.simpleblock img{
    display: inline-block;
    max-width: 20%;
    height: 5%;
    height: auto;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-block label {
    cursor: pointer;
}

.loginform .input-block input {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    background-color: var(--color-background);
    border-radius: 3px;

}

.check-block {
    color: gray;
    margin-top: 1rem;
    cursor: pointer;
}

.loginform .input-block input[type="submit"] {
    margin-top: 3rem;
    padding: 1rem;
    transition: .2s ease-in-out;
}

.submit-block {
    display: flex;
}

.loginform .input-block input:focus {
    background-color: var(--color-login);
    outline: none;
}

.loginform #submit-button {
    width: unset;
    font-size: 30px;
    font-weight: 900;
    border: .3rem solid gray;
    border-radius: 1rem;
    outline: none;
    background-color: white;
    color: gray;
    cursor: pointer;
}

.loginform #submit-button:hover {
    padding: 10px 30px;
}


.simpleblock a {
    text-decoration: none;
    color: gray;
}

.simpleblock a:hover {
    color: darkgrey;
}